<a href="https://colab.research.google.com/github/EdivanS96/Colab/blob/main/Aulas_BackEnd_Python_BFD_Softex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Olá Mundo")
print(5+3)


#Definindo VAR:idade = 30 #intaltura = 1.54 #floatnome = "Maria" # srtmaior_de_idade = True # bool
print(idade)
print(altura)
print(nome)
print(maior_de_idade)

print(type(idade))
print(type(altura))
print(type(nome))
print(type(maior_de_idade))

Olá Mundo
8
45
1.54
Irineu
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
#EXERCICIO 1:
nome = input("Digite seu nome: ")
idade = int(input("Digite sua Idade: "))
print(nome,"tem",idade,"anos")

Digite seu nome: João
Digite sua Idade: 15
João tem 15 anos

In [ ]:
#EXERCICIO 2:

def somar(numero1,numero2):
    return numero1 + numero2;

print("Calculadora basica")

numero1 = float(input("Informe o primeiro número:"))
numero2 = float(input("Informe o segundo número:"))

print("RESULTADO:", somar(numero1,numero2))

Calculadora basica
Informe o primeiro número:5
Informe o segundo número:4
RESULTADO: 9.0

In [ ]:
#EXERCICIO 3:

def somar(numero1, numero2):
  return numero1 + numero2;

def subtrair(numero1, numero2):
  return numero1 - numero2;

def multiplicar(numero1, numero2):
  return numero1 * numero2;

def dividir(numero1, numero2):
  if numero2 == 0:
    return "Erro"
  return numero1 / numero2;


print("Escolha uma operação:")
print("1 para Somar")
print("2 para Subtrair")
print("3 para Multiplicar")
print("4 para Dividir")

ope = int(input("Digite o número da operação:"))

numero1=float(input("Informe o primeiro número:"))
numero2=float(input("Informe o segundo número:"))

resultado = ope
if ope == 1:
  resultado = somar(numero1, numero2)
elif ope == 2:
  resultado = subtrair(numero1, numero2)
elif ope == 3:
  resultado = multiplicar(numero1, numero2)
elif ope == 4:
  resultado = dividir(numero1, numero2)
else:
  resultado = "Erro divisão por ZERO";


print("RESULTADO:", resultado)

Escolha uma operação:
1 para Somar
2 para Subtrair
3 para Multiplicar
4 para Dividir
Digite o número da operação:4
Informe o primeiro número:5
Informe o segundo número:2
RESULTADO: 2.5

In [ ]:
# AULA 4 - Criação de laços e repetições

#RANGE:

#função range: , range(fim),range(inico,fim), range(inicio,fim,pulando)
for i in range(2,10,2):
  print("i",i)

nome = "João"
idade = 45

print(f"Nome: {nome} e Idade: {idade}")

i 2
i 4
i 6
i 8
Nome: João e Idade: 45

In [ ]:
#TAREFA DE CASA (Calculadora Média)

nota1 = float(input("Digite a nota 1:"))
nota2 = float(input("Digite a nota 2:"))
nota3 = float(input("Digite a nota 3:"))

media = (nota1 + nota2 + nota3)/3

print("Média Final:", media)

if media < 7:
  print("Aluno Reprovado")
else: print("Aluno Aprovado")

Digite a nota 1:10
Digite a nota 2:10
Digite a nota 3:7
Média Final: 9.0
Aluno Aprovado

In [ ]:
#AULA 5 - 22/08/2025

#PODE VOTAR?

print("PODE VOTAR?")
nome = input("Seu nome:")
idade = int(input("Digite sua idade:"))

if idade >= 16:
  print(f"{nome}, você pode votar")
else:
  print(f"{nome}, você NÃO pode votar")

PODE VOTAR?
Seu nome:Edivan
Digite sua idade:45
Edivan, você pode votar

In [ ]:
# AULA 5 - Apicação de laços

#RANGE:
numero = int(input("Digite um número:"))
contador = 1

while(contador <= 10):
  print(f"{numero} x {contador} = {numero * contador}")
  contador = contador + 1

Digite um número:15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [ ]:
# AULA 5 - Crição de um programa que conte de 1 a 100 e exiba apenas os numeros pares:

#função range: , range(fim); range(inico,fim); range(inicio,fim,pulando)
for i in range(2,102,2):
  print("Número par de 1 a 100:",i)

Número par de 1 a 100: 2
Número par de 1 a 100: 4
Número par de 1 a 100: 6
Número par de 1 a 100: 8
Número par de 1 a 100: 10
Número par de 1 a 100: 12
Número par de 1 a 100: 14
Número par de 1 a 100: 16
Número par de 1 a 100: 18
Número par de 1 a 100: 20
Número par de 1 a 100: 22
Número par de 1 a 100: 24
Número par de 1 a 100: 26
Número par de 1 a 100: 28
Número par de 1 a 100: 30
Número par de 1 a 100: 32
Número par de 1 a 100: 34
Número par de 1 a 100: 36
Número par de 1 a 100: 38
Número par de 1 a 100: 40
Número par de 1 a 100: 42
Número par de 1 a 100: 44
Número par de 1 a 100: 46
Número par de 1 a 100: 48
Número par de 1 a 100: 50
Número par de 1 a 100: 52
Número par de 1 a 100: 54
Número par de 1 a 100: 56
Número par de 1 a 100: 58
Número par de 1 a 100: 60
Número par de 1 a 100: 62
Número par de 1 a 100: 64
Número par de 1 a 100: 66
Número par de 1 a 100: 68
Número par de 1 a 100: 70
Número par de 1 a 100: 72
Número par de 1 a 100: 74
Número par de 1 a 100: 76
Número par de 1 a 100: 78
Número par de 1 a 100: 80
Número par de 1 a 100: 82
Número par de 1 a 100: 84
Número par de 1 a 100: 86
Número par de 1 a 100: 88
Número par de 1 a 100: 90
Número par de 1 a 100: 92
Número par de 1 a 100: 94
Número par de 1 a 100: 96
Número par de 1 a 100: 98
Número par de 1 a 100: 100

In [ ]:
# AULA 5 - Verificar palíndromo (ignorando espaços e maiúsculas):
texto = input("Digite uma palavra: ")

#resplace(Substituir), lower(Minusculo)
texto_normal = texto.replace(" ", "").lower()#Normalizando a palavra

if texto_normal == texto_normal[::-1]:
    print("É Palíndromo")
else:
    print("Não é Palíndromo")

Digite uma palavra: Eu
Não é Palíndromo

In [ ]:
# AULA 5 - Contar vogais
palavra = input("Digite uma frase: ").lower()

vogais = "aeiou"
cont_vogais = 0

for c in palavra:
    if c.isalpha():
        if c in vogais:
            cont_vogais += 1


print(f"Número de Vogais: {cont_vogais}")

Digite uma frase: Edivan
Número de Vogais: 3

In [ ]:
# AULA 6 Dia 23/08/2025

for i in range(1,6):
  nota = float(input(f"Digite a nota{i}:"))

Digite a nota1:5
Digite a nota2:4
Digite a nota3:10
Digite a nota4:10
Digite a nota5:50

In [ ]:
#AULA 6 : Calculadora Média

nota1 = float(input("Nota 1:")
        +float(input("Nota 2:"))
        +float(input("Nota 3:"))
        +float(input("Nota 4:"))
        +float(input("Nota 5:")))


media = nota1/5

print("Média Final:", media)

if media < 7:
  print("Aluno Reprovado")
else: print("Aluno Aprovado")

Nota 1:10
Nota 2:10

TypeError: can only concatenate str (not "float") to str

In [ ]:
from collections import Deque

fila = deque()

for i range(3):
  nome = input(f"Digite o nome da Pessoa: {i}")
  fila.append(nome)

  print("Fila:",fila)

  while fila:
     print("Fila:",fila)

SyntaxError: invalid syntax (ipython-input-3553902480.py, line 5)

In [ ]:
#PILHA
from collections import deque

pilha = deque()

pilha.append("A")
pilha.append("B")
pilha.append("C")

print(pilha)

pilha.pop()
print("Removendo:", pilha)

deque(['A', 'B', 'C'])
Removendo: deque(['A', 'B'])

In [ ]:
#Criando pilha de 3 tarefas a fazer, depois remova as tarefas:
pilha = deque()

pilha.append("Estudar")
pilha.append("Comer")
pilha.append("Trabalhar")

print(pilha)

pilha.pop()
print("Removendo 1:", pilha)

pilha.pop()
print("Removendo 2:", pilha)

pilha.pop()
print("Removendo 3:", pilha)

deque(['Estudar', 'Comer', 'Trabalhar'])
Removendo 1: deque(['Estudar', 'Comer'])
Removendo 2: deque(['Estudar'])
Removendo 3: deque([])

In [ ]:
#Simulação de pagina de computador:
pilha = deque()

pilha.append("Meu Computador>")
pilha.append("DISCO C>")
pilha.append("Arquivos e progamas")

print(pilha)

pilha.pop()
print("Removendo 1:", pilha)

pilha.pop()
print("Removendo 2:", pilha)

01: Ana Nota: 8.5 Aluno Aprovado
02: Pedro Nota: 6.0 Aluno Reprovado
03: Clara Nota: 4.5 Aluno Reprovado
04: Miguel Nota: 7.5 Aluno Aprovado

In [ ]:
#criando uma pilha de numeros, somando todos e depois excluindo 1 por 1:
#Criando pilha de 3 tarefas a fazer, depois remova as tarefas:
pilha = deque()

for i in range(1,6):
  pilha = deque()
  pilha.append(i)
  print(pilha)

deque([1])
deque([2])
deque([3])
deque([4])
deque([5])

In [ ]:
#

pilha = [1 , 2 , 3 , 4 , 5]

for i range(len(pilha) > 0):
  valor = pilha.pop()
  soma += valor
  print("Valor: ",valor)

SyntaxError: invalid syntax (ipython-input-2032526256.py, line 5)

In [ ]:
#DICIONARIO:

Aluno = {
    "Aluno": "João",
    "Curso": "Python",
    "Idade": 30
}

print(Aluno)

{'Aluno': 'João', 'Curso': 'Python', 'Idade': 30}

In [ ]:
#Iterando dicionario:
for chave in aluno
Aluno = {
    "Aluno": "João",
    "Curso": "Python",
    "Idade": 30
}

for i in Aluno:
  print(i)

In [ ]:
#DICIONARIO DE CARRO.

carro = {
    "Marca": "Ford",
    "Modelo": "Mustang",
    "Ano": 1964
}

print(carro["Modelo"])

Mustang

In [ ]:
#DICIONARIO NOME DE 3 PESSOAS:

Pessoas = {
    "Pessoa": ["João","Maria","Pedro"],
    "Idade": [10, 20,30]
}

print(Pessoas)

{'Pessoa': ['João', 'Maria', 'Pedro'], 'Idade': [10, 20, 30]}

In [ ]:
#DICIONARIO NOME DE 3 PESSOAS: com laço
#pessoas{}

for i range(3):
    nome = input("Pessoa:")
    idade = int(input("Idade: "))
    pessoas[nome] = idade
    print(pessoas)

SyntaxError: invalid syntax (ipython-input-2907598760.py, line 4)

In [ ]:
#Criar uma fila de atendimento de Alunos com suas notas e analise se estão aprovados ou não:

fila = deque([{"Nome": "Ana", "Nota:": 8.5},
              {"Nome": "Pedro", "Nota:": 6.0},
              {"Nome": "Clara", "Nota:": 4.5},
              {"Nome": "Miguel", "Nota:": 7.5}
              ])

print(fila)

deque([{'Nome': 'Ana', 'Nota:': 8.5}, {'Nome': 'Pedro', 'Nota:': 6.0}, {'Nome': 'Clara', 'Nota:': 4.5}, {'Nome': 'Miguel', 'Nota:': 7.5}])

In [ ]:
#Criar uma fila de atendimento de Alunos com suas notas e analise se estão aprovados ou não:
fila = deque([{"Nome": "Ana", "Nota": 8.5},
              {"Nome": "Pedro", "Nota": 6.0},
              {"Nome": "Clara", "Nota": 4.5},
              {"Nome": "Miguel", "Nota": 7.5}
              ])

for i, aluno in enumerate(fila):
  status = "Aluno Aprovado" if aluno["Nota"] >= 7 else "Aluno Reprovado"
  print(f"{i+1}: Aluno: {aluno['Nome']} Nota: {aluno['Nota']} {status}")

1: Aluno: Ana Nota: 8.5 Aluno Aprovado
2: Aluno: Pedro Nota: 6.0 Aluno Reprovado
3: Aluno: Clara Nota: 4.5 Aluno Reprovado
4: Aluno: Miguel Nota: 7.5 Aluno Aprovado

In [50]:
#AULA 7 - 29/08/2025

#Questão 1
print("Questão 1:")
dicionario = {
    "nome": "Maria",
    "idade": 20,
    "curso": "Engenharia"
}


print(dicionario["nome"])
print(dicionario["idade"])
print(dicionario["curso"])

#Questão 2
print("Questão 2:")
agenda = {
    "Maria": (("(83) 9999-9999", "maria@gmail.com")),
    "João": (("(83) 8888-8888", "joao@gmail.com")),
    "Ana": (("(83) 7777-7777", "ana@gmail.com"))
}

for nome, dados in agenda.items():
    telefone, email = dados


print(f"{nome} - Telefone: {telefone} | Email: {email}")

#Questão 3
print("Questão 3:")
cidades = {
    ((-20.22, -35.9)): "São Paulo",
    ((-8.25, -40.8)): "Recife",
    ((-7.22, -35.9)): "Campina Grande"
}

for coor, cid in cidades.items():
    lat, lon = coor


print(f"Cidade: {cid} - Coordenadas: {coor}")


#Questão 4:
print("Questão 4:")
nota = {
    "Maria": ((5,10,8)),
    "João": ((4,7,5 )),
    "Ana": ((10,8,9 ))
}

for nome, notas in nota.items():
    p1,p2,p3 = notas
    media = sum(notas)/3


print(f"Aluno(a): {nome} | Notas: {notas}| Média: {media}")

#QUESTÃO 5
print("Questão 5:")

precos = {
    (("Camisa", "M")): "40 R$",
    (("Calça", "G")): "120 R$",
    (("Sapato", 42)): "200 R$"
}

for lis, prec in precos.items():
    prod, tam = lis


print(f"Produto: {lis} - Valor: {lis}")


#QUESTÃO 7
notas = {
    ("Ana", "Matemática"): 9,
    ("Ana", "História"): 7,
    ("Ana", "Geografia"): 8
}
aluno = input("Digite o nome do aluno: ")

notas = {disciplina: nota for (aluno, disciplina), nota in notas.items() if aluno == nome_aluno}

if notas_aluno:
    print(f"\nNotas de {aluno}:")
    for disciplina, nota in notas.items():
        print(f"{disciplina}: {nota}")

    media = sum(notas_aluno.values()) / len(notas_aluno)
    print(f"Média geral: {media:.2f}")
else:
    print(f"Nenhuma nota encontrada para '{nome_aluno}'.")

Questão 1:
Maria
20
Engenharia
Questão 2:
Ana - Telefone: (83) 7777-7777 | Email: ana@gmail.com
Questão 3:
Cidade: Campina Grande - Coordenadas: (-7.22, -35.9)
Questão 4:
Aluno(a): Ana | Notas: (10, 8, 9)| Média: 9.0
Questão 5:
Produto: ('Sapato', 42) - Valor: ('Sapato', 42)
Digite o nome do aluno: Maria

Notas de Maria:
Matemática: 9
História: 7
Geografia: 8
Média geral: 8.00